body {
    margin: 0;
    background-image: url("images/spaceinvaders_background.avif");
    background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Set the background color and height of the header */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #333;
    height: 20px;
    text-align: left;
    padding: 10px;
    width: 100%;
}
  
/* Center the menu within the header */
#menu {
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
}

  
/* Style the navigation links */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  
  
nav li {
    display: flex;
    margin: 0 130px;
}

nav button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav button:hover {
    transform: translateY(-3px);
}

h2{
    color: #fff;
}

#welcome_scr p{
    color: #fff;
}